picking-flow-atual.json
[
    {
        "id": "ebe708a12eb430e0",
        "type": "tab",
        "label": "pickingv2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b2314751aae82885",
        "type": "group",
        "z": "ebe708a12eb430e0",
        "name": "login: faz requisição com as informações do operador para tentar login",
        "style": {
            "label": true
        },
        "nodes": [
            "1bc32d1acedc9a43",
            "689e11c44d74fbf6",
            "14c245fa802ad759"
        ],
        "x": 54,
        "y": 219,
        "w": 492,
        "h": 82
    },
    {
        "id": "499998105400b5fd",
        "type": "group",
        "z": "ebe708a12eb430e0",
        "name": "carregar_tabela_op: carrega a tabela de OPs e produtos da página de contagem",
        "style": {
            "label": true
        },
        "nodes": [
            "a9423d0ec16b3780",
            "4860aa49e9cf45df",
            "34e0f2539ea7cdb6",
            "cc9461af912669df",
            "c7adee85039193e6",
            "b0def6189046f21d"
        ],
        "x": 54,
        "y": -21,
        "w": 509,
        "h": 202
    },
    {
        "id": "9424ef1c4f83ecf7",
        "type": "uibuilder",
        "z": "ebe708a12eb430e0",
        "name": "",
        "topic": "",
        "url": "pickingv2",
        "okToGo": true,
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "iife-blank-client",
        "extTemplate": "",
        "showfolder": false,
        "reload": true,
        "sourceFolder": "src",
        "deployedVersion": "7.0.4",
        "showMsgUib": false,
        "title": "",
        "descr": "",
        "editurl": "vscode://fileC:\\Users\\masilva\\.node-red\\uibuilder/pickingv2/?windowId=_blank",
        "x": 710,
        "y": 200,
        "wires": [
            [
                "d16104234d65b72e"
            ],
            []
        ]
    },
    {
        "id": "a9423d0ec16b3780",
        "type": "change",
        "z": "ebe708a12eb430e0",
        "g": "499998105400b5fd",
        "name": "listar_qtd",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "listar_qtd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 140,
        "wires": [
            [
                "9424ef1c4f83ecf7"
            ]
        ]
    },
    {
        "id": "1bc32d1acedc9a43",
        "type": "change",
        "z": "ebe708a12eb430e0",
        "g": "b2314751aae82885",
        "name": "login",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "login",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "9424ef1c4f83ecf7"
            ]
        ]
    },
    {
        "id": "d16104234d65b72e",
        "type": "switch",
        "z": "ebe708a12eb430e0",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "carregar_tabela_op",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "login",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 200,
        "wires": [
            [
                "59e74f0ba3062486"
            ],
            [
                "dd076ecf4cd1b1fb"
            ]
        ]
    },
    {
        "id": "4860aa49e9cf45df",
        "type": "http request",
        "z": "ebe708a12eb430e0",
        "g": "499998105400b5fd",
        "name": "listaOPs",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.31:8061/rest/DATAWAKE_APIS_DIGITALIZACAO/api/v1/ordensProducao?centroCusto=11902&page=1&pagesize=85&previsaoTermino={{dataTermino}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 240,
        "y": 100,
        "wires": [
            [
                "34e0f2539ea7cdb6",
                "c7adee85039193e6"
            ]
        ]
    },
    {
        "id": "34e0f2539ea7cdb6",
        "type": "function",
        "z": "ebe708a12eb430e0",
        "g": "499998105400b5fd",
        "name": "extraiProdutos",
        "func": "let array_empenhos = [];\n\nmsg.payload.OPS.forEach(function(op) {\n    op.EMPENHOS.forEach(function(empenho) {\n        array_empenhos.push(\n            {\n                OP: op.OP,\n                PA: op.PRODUTO,\n                RECURSO: op.RECURSO,\n                PRODUTO: empenho.PRODUTOEMPENHO,\n                QUANTIDADE: empenho.QUANTIDADEEMPENHO,\n                PREVISAOINICIO: `${op.PREVISAOINICIO[6]}${op.PREVISAOINICIO[7]}/${op.PREVISAOINICIO[4]}${op.PREVISAOINICIO[5]}/${op.PREVISAOINICIO[0]}${op.PREVISAOINICIO[1]}${op.PREVISAOINICIO[2]}${op.PREVISAOINICIO[3]}`\n            }\n        );\n    });\n});\n\nmsg.payload = array_empenhos;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 140,
        "wires": [
            [
                "a9423d0ec16b3780"
            ]
        ]
    },
    {
        "id": "689e11c44d74fbf6",
        "type": "http request",
        "z": "ebe708a12eb430e0",
        "g": "b2314751aae82885",
        "name": "fazLogin",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.62:1880/kanban/v1/login",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 240,
        "y": 260,
        "wires": [
            [
                "1bc32d1acedc9a43"
            ]
        ]
    },
    {
        "id": "efb21a4a0de21be7",
        "type": "link out",
        "z": "ebe708a12eb430e0",
        "name": "Link Topic Out: carregar_tela",
        "mode": "link",
        "links": [
            "cc9461af912669df"
        ],
        "x": 1175,
        "y": 160,
        "wires": []
    },
    {
        "id": "cc9461af912669df",
        "type": "link in",
        "z": "ebe708a12eb430e0",
        "g": "499998105400b5fd",
        "name": "Link Topic In: carregar_tela",
        "links": [
            "efb21a4a0de21be7"
        ],
        "x": 95,
        "y": 100,
        "wires": [
            [
                "4860aa49e9cf45df",
                "b0def6189046f21d"
            ]
        ]
    },
    {
        "id": "dd076ecf4cd1b1fb",
        "type": "link out",
        "z": "ebe708a12eb430e0",
        "name": "Link Topic Out: login",
        "mode": "link",
        "links": [
            "14c245fa802ad759"
        ],
        "x": 935,
        "y": 220,
        "wires": []
    },
    {
        "id": "14c245fa802ad759",
        "type": "link in",
        "z": "ebe708a12eb430e0",
        "g": "b2314751aae82885",
        "name": "Link Topic In: login",
        "links": [
            "dd076ecf4cd1b1fb"
        ],
        "x": 95,
        "y": 260,
        "wires": [
            [
                "689e11c44d74fbf6"
            ]
        ]
    },
    {
        "id": "2a08150bd5342433",
        "type": "serial in",
        "z": "ebe708a12eb430e0",
        "name": "",
        "serial": "45d1b1362f6fed7e",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "d3759584b917759e"
            ]
        ]
    },
    {
        "id": "d3759584b917759e",
        "type": "change",
        "z": "ebe708a12eb430e0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "balanca",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 380,
        "wires": [
            [
                "9424ef1c4f83ecf7"
            ]
        ]
    },
    {
        "id": "9d40d2953f9d9859",
        "type": "http in",
        "z": "ebe708a12eb430e0",
        "name": "",
        "url": "/pstprnt",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 480,
        "wires": [
            [
                "5f17ca5b74517eb9",
                "d5462083effb1ff7"
            ]
        ]
    },
    {
        "id": "5f17ca5b74517eb9",
        "type": "debug",
        "z": "ebe708a12eb430e0",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 520,
        "wires": []
    },
    {
        "id": "d5462083effb1ff7",
        "type": "http request",
        "z": "ebe708a12eb430e0",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://72.0.0.253/pstprnt",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 480,
        "wires": [
            [
                "4be91199bb95186e"
            ]
        ]
    },
    {
        "id": "c7adee85039193e6",
        "type": "debug",
        "z": "ebe708a12eb430e0",
        "g": "499998105400b5fd",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 20,
        "wires": []
    },
    {
        "id": "59e74f0ba3062486",
        "type": "function",
        "z": "ebe708a12eb430e0",
        "name": "formataPrevisaoTermino",
        "func": "const hoje = new Date();\nconst amanha = new Date(hoje);\namanha.setDate(hoje.getUTCDate() + 1);\n\nlet diaAmanha = \"\";\nlet mesAmanha = \"\";\nlet anoAmanha = amanha.getUTCFullYear();\n\ndiaAmanha = amanha.getUTCDate() >= 0 && amanha.getUTCDate() <= 9 ? `0${amanha.getUTCDate()}` : amanha.getUTCDate();\nmesAmanha = amanha.getUTCMonth() >= 0 && amanha.getUTCMonth() <= 9 ? `0${amanha.getUTCMonth() + 1}` : amanha.getUTCMonth() + 1;\n\nconst previsaoTermino = `${anoAmanha}${mesAmanha}${diaAmanha}`;\n\nmsg.dataTermino = previsaoTermino;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 180,
        "wires": [
            [
                "efb21a4a0de21be7",
                "09fa4267640341bb"
            ]
        ]
    },
    {
        "id": "09fa4267640341bb",
        "type": "debug",
        "z": "ebe708a12eb430e0",
        "d": true,
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 200,
        "wires": []
    },
    {
        "id": "b0def6189046f21d",
        "type": "debug",
        "z": "ebe708a12eb430e0",
        "d": true,
        "g": "499998105400b5fd",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 150,
        "y": 20,
        "wires": []
    },
    {
        "id": "4be91199bb95186e",
        "type": "http response",
        "z": "ebe708a12eb430e0",
        "name": "",
        "statusCode": "201",
        "headers": {},
        "x": 680,
        "y": 480,
        "wires": []
    },
    {
        "id": "45d1b1362f6fed7e",
        "type": "serial-port",
        "name": "",
        "serialport": "COM1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    }
]
